---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.layout--kendra_home {
    .masthead {
        background-color: transparent;
        position: absolute;
        border-bottom: none;
        width: 100%;
    }
    
    #site-nav {
        background-color: transparent;
    }
}